<div class="label-input-container">
  <label class="label" for="{{inputName}}">{{label}}</label>
  <input
    class="input"
    type="{{inputType}}"
    name="{{inputName}}"
    value="{{inputValue}}"
    autocomplete="{{autocomplete}}"
  />
</div>