<li class="login-field-item">
  <label class="login-field-label" for="{{name}}">{{label}}</label>
  <input
    class="login-field-input"
    type="{{type}}"
    name="{{name}}"
    autocomplete="{{autocomplete}}"
  />
</li>