<li class="user-label-input-container">
  <label class="user-label" for="{{name}}">{{label}}</label>
  <input
    class="user-input"
    type="{{type}}"
    name="{{name}}"
    value="{{value}}"
    autocomplete="{{autocomplete}}"
    {{#if readonly}}readonly{{/if}}
  />
</li>