<div class="profile-info">
  <div class="profile-info-goback-block">
    <img src="{{backBtn}}" alt="backBtn">
  </div>
  <div class="profile-info-content-wrapper">
    <div class="profile-info-content">
      <div class="profile-info-avatar-block">
        <span class="profile-info-avatar" name="avatar">
          <img src="{{avatarImg}}" class="profile-info-avatar-img" />
        </span>
        <span class="profile-info-username">Иван</span>
      </div>
      <div class="profile-info-data-block">
        {{> profile-fields-list profileFields=profileFields}}
      </div>
      <div class="profile-info-links-block">
        <ul class="profile-info-links-list">
          {{#each profileLinks}}
            <li class="profile-info-links-item">
              <a href="#" id="{{id}}" class="{{class}}">{{text}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
